body {
	position: relative;
	font-family: Helvetica;
}

h1 {
	text-align: center;
	font-size: 64px;
	margin: 36px;
	margin-bottom: 14px;
}

#toolbar {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	display: inline-block;
}

button {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	width: 160px; height: 56px;
	font-size: 24px;
}

#gameboard {
	position: relative;
	margin: auto;
	margin-top: 24px;
	width: 700px;
	height: 700px;
}

#gameboard > div {
	display: block;
	margin: auto;
	width: 100%; height: 40px;
}

#gameboard div div{
	position: relative;
	width: 40px; height: 40px;
	display: inline-block;
	border: 1px outset black;
}

#last {
	border-bottom: 1px solid black;
}